In [5]:
import pandas as pd

In [8]:
import json

In [42]:
with open('net_income.json', 'r', encoding='utf-8') as f:
    income = json.load(f)

income

{'Janvier': '2000', 'Fevrier': '2100', 'Mars': '2050'}

In [49]:
pd.DataFrame(income, index = [ "Revenue"])

        Janvier Fevrier  Mars
Revenue    2000    2100  2050

In [16]:
with open('expenses.json', 'r', encoding='utf-8') as f:
    expenses = json.load(f)

expenses

{'date': '2025-04-23',
 'expenses': [{'type': 'Food',
   'items': [{'name': 'Lunch - Sandwich',
     'amount': 8.5,
     'payment_method': 'Credit Card'},
    {'name': 'Coffee', 'amount': 3.0, 'payment_method': 'Cash'}]},
  {'type': 'Transport',
   'items': [{'name': 'Bus Ticket',
     'amount': 2.75,
     'payment_method': 'Debit Card'}]},
  {'type': 'Entertainment',
   'items': [{'name': 'Movie Ticket',
     'amount': 12.0,
     'payment_method': 'Credit Card'}]}]}

In [28]:
expenses["expenses"][0]["items"][0]["amount"]

8.5

In [ ]:
total = sum(items["amount"] 
    for expense in expenses["expenses"] 
    for items in expense["items"])

total

26.25

In [52]:
budget_Janvier = total*31
budget_Fevrier = total*28
budget_Mars = total*31

In [53]:
budget_Janvier

813.75